<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>NavBar</title>
</head>

<body>

    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-3 ms-5 me-5">

            <div class="col mt-3 ">
                <div class="card max-height shadow-sm me-3">
                    <img src="../image/home.png" class="card-img-top img-card-size" alt="...">
                    <div class="card-body font-small">
                        <p class="card-title pb-3  color-violet">Comment Shikamaru Nara arrive à gagner les combats sans être fort physiquement?</p>
                        <small class="text-muted">Mars 2021</small>
                        <p class="card-text pt-2 text-muted">Masashi Kishimoto a révélé qu’il aimait beaucoup Shikamaru en raison de sa nature facile à vivre en dépit de son génie, et contrastée à contrario de la personnalité intelligente mais agressive de Sasuke Uchiwa. L’auteur a fait
                            remarquer qu’il épouserait Shikamaru s’il était une fille, notant que Shikamaru serait susceptible de réussir dans la vie. Lors de la conception de Shikamaru dans la seconde partie, Kishimoto a voulu donner une apparence unique
                            à son personnage, malgré le gilet que portent tous les ninjas confirmés.</p>

                        <a class="btn color-dark-pink fst-italic">Lire</a>
                    </div>
                </div>
            </div>
            <div class="col mt-3 ">
                <div class="card max-height shadow-sm me-3">
                    <img src="../image/home.png" class="card-img-top img-card-size" alt="...">
                    <div class="card-body font-small">
                        <p class="card-title pb-3  color-violet">Comment Shikamaru Nara arrive à gagner les combats sans être fort physiquement?</p>
                        <small class="text-muted">Mars 2021</small>
                        <p class="card-text pt-2 text-muted">Masashi Kishimoto a révélé qu’il aimait beaucoup Shikamaru en raison de sa nature facile à vivre en dépit de son génie, et contrastée à contrario de la personnalité intelligente mais agressive de Sasuke Uchiwa. L’auteur a fait
                            remarquer qu’il épouserait Shikamaru s’il était une fille, notant que Shikamaru serait susceptible de réussir dans la vie. Lors de la conception de Shikamaru dans la seconde partie, Kishimoto a voulu donner une apparence unique
                            à son personnage, malgré le gilet que portent tous les ninjas confirmés.</p>

                        <a class="btn color-dark-pink fst-italic">Lire</a>
                    </div>
                </div>
            </div>
            <div class="col mt-3 ">
                <div class="card max-height shadow-sm me-3">
                    <img src="../image/home.png" class="card-img-top img-card-size" alt="...">
                    <div class="card-body font-small">
                        <p class="card-title pb-3  color-violet">Comment Shikamaru Nara arrive à gagner les combats sans être fort physiquement?</p>
                        <small class="text-muted">Mars 2021</small>
                        <p class="card-text pt-2 text-muted">Masashi Kishimoto a révélé qu’il aimait beaucoup Shikamaru en raison de sa nature facile à vivre en dépit de son génie, et contrastée à contrario de la personnalité intelligente mais agressive de Sasuke Uchiwa. L’auteur a fait
                            remarquer qu’il épouserait Shikamaru s’il était une fille, notant que Shikamaru serait susceptible de réussir dans la vie. Lors de la conception de Shikamaru dans la seconde partie, Kishimoto a voulu donner une apparence unique
                            à son personnage, malgré le gilet que portent tous les ninjas confirmés.</p>

                        <a class="btn color-dark-pink fst-italic">Lire</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../js/jquery.js "></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="../js/script.js "></script>

</body>

</html>