<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>NavBar</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row info_univ">

            <div class="col-sm-6 school_path">

                <div class="card shadow-sm">

                    <div class="card-body">
                        <h5 class="card-title">Nos programmes de formation</h5>
                        <p class="card-text">Le Département d’informatique offre trois programmes de formation fondamentale et deux programmes de formation professionnelle :</p>
                    </div>

                    <div class="row g-0">
                        <div class="col-md-7">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li>Licence fondamentale</li>
                                    <li>Master recherche</li>
                                    <li>Doctorat informatique</li>
                                </ul>
                                <ul class="list-group">
                                    <li>Licence professionnelle</li>
                                    <li>Master professionnelle RAM</li>
                                    <li>Master professionnelle SIGL</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <img src="../image/casquet.png" alt="...">
                        </div>
                    </div>

                    <div class="border_info"></div>
                </div>

            </div>

            <div class="col-sm-5 communicated">
                <div class="card col-sm-11">

                    <div class="row g-0">

                        <!-- <div class="card-header">
                            <h2>Babillard</h2>
                        </div> -->

                        <div class="card-body">

                            <ul class="list_info">
                                <h5 class="card-title">Babillard</h5>

                                <li class="list-group-item">
                                    <p class="card-text">
                                        <span>11 mars 2021</span><br>
                                        <small class="text-muted">Séminaire sur la cybersecurite</small><br> il sera organisé le 12 avril un séminaire sur la cybersecurite au Déddartement sur le thème : Cyber-attaque et Cyber-defense
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <span>11 mars 2021</span><br>
                                        <small class="text-muted">Séminaire sur la cybersecurite</small><br> il sera organisé le 12 avril un séminaire sur la cybersecurite au Déddartement sur le thème : Cyber-attaque et Cyber-defense
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <span>11 mars 2021</span><br>
                                        <small class="text-muted">Séminaire sur la cybersecurite</small><br> il sera organisé le 12 avril un séminaire sur la cybersecurite au Déddartement sur le thème : Cyber-attaque et Cyber-defense
                                    </p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn_per btn-lg" tabindex="-1" role="button" aria-disabled="true">Liste de tous les articles  <span>&rarr;</span></a>

                            <div class="border_communicate"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="../js/jquery.js "></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="../js/script.js "></script>

</body>

</html>