<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>NavBar</title>
</head>

<body>

    <div class="container-fluid">
        <div class="card mb-3 section_presentation">

            <div class="row g-0">

                <div class="col-md-7">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title pres_subtitle">Faculté des Sciences</h5>
                            <h1 class="card-title pres_title">Département d'Informatique</h1>
                        </div>

                        <div class="texte">

                            <p class="card-text">
                                Les enseignements d’Informatique ont démarré à la Faculté des Sciences de l’Université de Yaoundé en 1978. A la faveur de la convention tripartite signée entre l’Université des Nations Unies (UNU), l’Institut National de Recherche en Informatique et Automatique
                                (INRIA) et l’Université de Yaoundé I en 1985, la Maîtrise a démarré, suivie l’année d’après par le cycle de Doctorat.<br><br>

                                <small class="text-muted">
                                    L’informatique est partout dans nos vies. Que ce soit dans nos téléphones,
                                    nos réfrigérateurs ou nos voitures, l’informatique révolutionne la façon dont nous communiquons, pensons et travaillons.
                                </small>
                            </p>

                        </div>

                        <div class="card-header pres_footer">
                            <a href="#" class="btn hover">Conditions d'admission</a>
                            <a href="#" class="btn nohover">Nous Contacter</a>
                        </div>

                    </div>
                </div>

                <div id="carouselExampleIndicators" class="col-md-5 carousel slide slider_pres" data-bs-ride="carousel">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../image/home.png" class="d-block card-img w-100 h-100" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Université de Yaoundé I</h5>
                                <h3>Departement d’Informatique</h3>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="../image/home.png" class="d-block card-img w-100 h-100" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Université de Yaoundé I</h5>
                                <h3>Departement d’Informatique</h3>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="../image/home.png" class="d-block card-img w-100 h-100" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Université de Yaoundé I</h5>
                                <h3>Departement d’Informatique</h3>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="../js/jquery.js "></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="../js/script.js "></script>

</body>

</html>