<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>NavBar</title>
</head>

<body>

    <div class="container-fluid">

        <div class="row p-5 bg-footer">

            <div class="border-0 bg-parent card-group fs-13 text-white ff-rr">

                <div class="border-0 bg-parent card">
                    <div class="border-0 bg-parent card-body">
                        <div class="border-0 bg-parent card-title d-flex mb-3">
                            <img src="../image/logo_fac.png" alt="...">
                            <div class="title ps-2">
                                <h2 class="fs-15">Departement d'informatique</h2>
                                <h5 class="fs-13 color-trans">Université de Yaoundé I</h5>
                            </div>
                        </div>

                        <a href="#" class="text-decoration-none text-white">Présentation</a><br>
                        <a href="#" class="text-decoration-none text-white">Conditions d'admission</a><br>
                        <a href="#" class="text-decoration-none text-white">Nos pôles</a><br>
                        <a href="#" class="text-decoration-none text-white">Nos enseignants</a><br>
                        <a href="#" class="text-decoration-none text-white">Options & débouchés</a><br>

                        <div class="border-0 mt-4">
                            <a href="" class="btn-foot p-2 text-decoration-none text-white">Mon portail</a>
                        </div>
                    </div>
                </div>

                <div class="border-0 bg-parent card">
                    <div class="border-0 bg-parent card-body">
                        <div class="title mb-4">
                            <h2 class="fs-15 color-trans">INFORMATIONS</h2>
                        </div>

                        <a href="#" class="text-decoration-none text-white">Babillard</a><br>
                        <a href="#" class="text-decoration-none text-white">Espaces Etudiants</a><br>
                        <a href="#" class="text-decoration-none text-white">Anciens Etudiants</a><br>
                        <a href="#" class="text-decoration-none text-white">Nos partenaires</a><br>
                        <a href="#" class="text-decoration-none text-white">Blog</a><br>

                        <div class="border-0 pt-3">
                            <a href=""><img class="m-0" src="../image/logo_playStore.png" alt=""></a>
                        </div>
                    </div>
                </div>


                <div class="border-0 bg-parent card">
                    <div class="border-0 bg-parent card-body">
                        <div class="title mb-4">
                            <h2 class="fs-15 color-trans">NOS SITES WEB</h2>
                        </div>

                        <a href="#" class="text-decoration-none text-white">Faculté des Sciences</a><br>
                        <a href="#" class="text-decoration-none text-white">Ecole Doctorale CRFD Sciences et Technologies</a><br>
                        <a href="#" class="text-decoration-none text-white">Université de Yaoundé I</a><br>
                        <a href="#" class="text-decoration-none text-white">MINESUP</a><br>

                    </div>
                </div>
            </div>

        </div>

        <div class="row fs-13 text-white ff-rr back-black pe-3 ps-3">
            <p class="col-md-7 d-flex pt-md-3 ps-md-5">Tous droits réservés © Université de Yaoundé I</p>
            <div class="col-md-5 d-md-flex flex-md-row-reverse">
                <img src="../image/logo_dsc.png" alt="">
                <p class="pt-3 me-2">Designed & Developed by</p>
            </div>
        </div>

    </div>

    <script src="../js/jquery.js "></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="../js/script.js "></script>

</body>

</html>