<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>NavBar</title>
</head>

<body>

    <div class="container-fluid">

        <div class="container-fluid" data-toggle="sticky-onscroll">
            <nav class="navbar-expand-lg navbar-light bg-white menu d-flex">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                    <div class="navbar-nav " id="parent_menu">
                        <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
                        <a class="nav-link" aria-current="page" href="#">Département</a>
                        <a class="nav-link" aria-current="page" href="#">Informations</a>
                        <a class="nav-link" aria-current="page" href="#">Formation</a>
                        <a class="nav-link" aria-current="page" href="#">Espace Etudiants</a>
                        <a class="nav-link" aria-current="page" href="#">Ancien Etudiants</a>
                        <a class="nav-link" aria-current="page" href="#">Nos Partenaires</a>
                        <a class="nav-link" aria-current="page" href="#">Blog</a>
                    </div>

                    <form class="d-flex">
                        <input class="form-control me-2 search_bar" type="search" placeholder="Search" aria-label="Search">
                    </form>

                </div>


            </nav>

            <nav class="navbar-expand-lg navbar-light bg-white sub-menu">

                <div class="collapse navbar-collapse sub_menu d-flex flex-column align-items-start" id="navbarNavAltMarkup ">
                    <div class="navbar-nav" id="home ">
                        <a class="nav-link active" aria-current="page " href="# ">Barbillard</a>
                        <a class="nav-link " aria-current="page " href="# ">Evenements</a>
                    </div>
                    <div class="navbar-nav" id="departement ">
                        <a class="nav-link" aria-current="page " href="# ">Présentation</a>
                        <a class="nav-link " aria-current="page " href="# ">Condition d'admission</a>
                        <a class="nav-link " aria-current="page " href="# ">Coodonées</a>
                        <a class="nav-link " aria-current="page " href="# ">Nos poles</a>
                        <a class="nav-link " aria-current="page " href="# ">Nos enseignants</a>
                        <a class="nav-link " aria-current="page " href="# ">Nos options et débouché</a>
                    </div>
                </div>

            </nav>
        </div>

    </div>

    <script src="../js/jquery.js "></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="../js/script.js "></script>

</body>

</html>