<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>NavBar</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6 ps-lg-5">
                <div class="card col-sm-11 bg-parent ms-lg-4 pe-lg-3">

                    <div class="row ">

                        <div class="card-body">

                            <ul>
                                <h5 class="card-title color-violet fs-3 pt-3">Nos évènements</h5>

                                <li class="list-group-item d-flex">
                                    <div class="card_date me-3">
                                        <p>12<br>Avril</p>
                                    </div>
                                    <p class="card-text">
                                        <small class="text-muted">{Séminaire sur la cybersecurite}</small><br>
                                        <span>11 mars 2021</span>
                                        <br> il sera organisé le 12 avril un séminaire sur la cybersecurite au Déddartement sur le thème : Cyber-attaque et Cyber-defense
                                    </p>
                                </li>
                                <li class="list-group-item d-flex">
                                    <div class="card_date me-3">
                                        <p>12<br>Avril</p>
                                    </div>
                                    <p class="card-text">
                                        <small class="text-muted">{Séminaire sur la cybersecurite}</small><br>
                                        <span>11 mars 2021</span>
                                        <br> il sera organisé le 12 avril un séminaire sur la cybersecurite au Déddartement sur le thème : Cyber-attaque et Cyber-defense
                                    </p>
                                </li>
                                <li class="list-group-item d-flex">
                                    <div class="card_date me-3">
                                        <p>12<br>Avril</p>
                                    </div>
                                    <p class="card-text">
                                        <small class="text-muted">{Séminaire sur la cybersecurite}</small><br>
                                        <span>11 mars 2021</span>
                                        <br> il sera organisé le 12 avril un séminaire sur la cybersecurite au Déddartement sur le thème : Cyber-attaque et Cyber-defense
                                    </p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn_per btn-lg" tabindex="-1" role="button" aria-disabled="true">Tous nos évènements  <span>&rarr;</span></a>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 ps-lg-5 ">

                <div class="card shadow-sm ps-4 h-100 ms-lg-0">

                    <div class="card-body pt-3">
                        <h5 class="card-title fs-3 m-0" style="padding-top: 17px!important;">Liens utiles</h5>
                    </div>

                    <div class="row g-0 pb-lg-4 mb-lg-4">
                        <div class="col-md-11">
                            <div class="card-body">
                                <a href="#" class="btn link_btn" tabindex="-1" role="button" aria-disabled="true">Préinscription à l'Université de Yaoundé I  <span>&rarr;</span></a>
                                <a href="#" class="btn link_btn" tabindex="-1" role="button" aria-disabled="true">Inscription académique  <span>&rarr;</span></a>
                                <a href="#" class="btn link_btn" tabindex="-1" role="button" aria-disabled="true">Emploi de temps 2021  <span>&rarr;</span></a>
                                <a href="#" class="btn link_btn" tabindex="-1" role="button" aria-disabled="true">Soumettre une requête à l'administration  <span>&rarr;</span></a>
                                <a href="#" class="btn link_btn" tabindex="-1" role="button" aria-disabled="true">Télécharger l'application mobile  <span>&rarr;</span></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>

    <script src="../js/jquery.js "></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="../js/script.js "></script>

</body>

</html>